parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$age_property_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/GraphSchema/VertexTypeController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/GraphSchema/VertexTypeController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/GraphSchema/VertexTypeController.php

		-
			message: '#^Access to an undefined property App\\Models\\Role\:\:\$protection\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/RoleController.php

		-
			message: '#^Parameter \#3 \$fail of method App\\Rules\\GraphSchema\\AgeLabelName\:\:validate\(\) expects Closure\(string, string\|null\=\)\: Illuminate\\Translation\\PotentiallyTranslatedString, Closure\(\)\: void given\.$#'
			identifier: argument.type
			count: 12
			path: tests/Unit/Rules/GraphSchema/AgeLabelNameTest.php

		-
			message: '#^Parameter \#3 \$fail of method App\\Rules\\GraphSchema\\AgePropertyName\:\:validate\(\) expects Closure\(string, string\|null\=\)\: Illuminate\\Translation\\PotentiallyTranslatedString, Closure\(\)\: void given\.$#'
			identifier: argument.type
			count: 12
			path: tests/Unit/Rules/GraphSchema/AgePropertyNameTest.php
